body{
				background-color: #000000;
				background-image: url("../img/js.png")
			}
			header{
				background-color: #000089;

				text-align: center;
				font-size: 2em;
				color: #FFFFFF;
			}
			#buttons{
				padding: 10px;
				background-color: #7EC0EE;
				width: 700px;
				margin: auto;
				margin-top: 15px;
				border-radius: 20px;
				opacity: 0.95;
			}
			#buttonsInside{
				padding: 10px;
				background-color: #7EC0EE;
				width: 375px;
				align-items: center;
				margin: auto;
				text-align: center;
				opacity: 0.95;
			}
			.bts{
				margin: 10px;
				width:  100px;
				height: 100px;
				border-radius: 20px;
				background-color: #FF0000;
				color: #FFFFFF;
				opacity: 1;
			}
			#btCancelar, #btComprar{
				margin: 10px;
				width:  100px;
				height: 50px;
				background-image: url("img/js.png");
				border-radius: 20px;
			}
			footer{
				background-color: #123456;
				width:  1200px;
				height: 50px;
				margin: auto;
				margin-top: 15px;
				text-align: center;
				color: #FFFFFF;
			}